<div ng-repeat="event in events" class="card">
  <img class="card-img-top" ng-src="/picture/retrieval/{{event.pictures[0]}}" alt="Card image cap" ng-href="{{getVideoFromEvent(event.id)}}"/>
  <!--<video class="card-img-top" controls ng-src="{{getVideoFromEvent(event.id)}}" type="video/ogg"></video>-->
  <div class="card-block">
    <h4 class="card-title">Event {{event.id}} Camera {{event.camera}}</h4>
    <p class="card-text">Event Start: {{event.start_time}} Event Stop: {{event.stop_time}}</p>
    <a ng-href="{{getVideoFromEvent(event.id)}}" class="btn btn-primary">View Video</a>
  </br>
</br>
  </div>
</div>
